{% extends 'base.html' %}
{% block title %}Оплата заявки{% endblock %}
{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/popup-box.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}
{% block content %}
<!--start-banner-->
<div class="banner" id="home">
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="/">PROFINSTA<span class="logo-postfix">.com</span></a>
      </div>
      <div class="navigation">
        <span class="menu"></span>
        <ul class="navig">
          <li><a href="{{ url_for('index') }}" class="scroll">Вернуться на главную</a></li>
        </ul>
      </div>

      <div class="clearfix"></div>
    </div>

  </div>
<div class="bid-banner">
  <div class="container">
    <div class="row">
      <div id="small-dialog" class="">
        <div class="login">
          <h3>Информация об оплате</h3>
          <p><span class="pay-info">Номер заявки: {{ bid.id }}</span></p>
          <p><span class="pay-info">Сумма оплаты: {{ bid.amount }}</span></p>
          <div class="ln-btn">
            <input type="submit" value="Оплатить" />
          </div>
        </div>
      </div>
    </div>
{#      <div class="absolute-center is-responsive">#}
{#        <div class="info-label">#}
{#          <div id="pay-info-header">#}
{#            <span class="text-center">Информация об оплате</span>#}
{#          </div>#}
{#          <div id="pay-info-body">#}
{#            <h4>Номер вашей заявки: {{ bid.id }}</h4>#}
{#            <h4>Сумма оплаты: {{ bid.amount }}$</h4>#}
{#          </div>#}
{#          <form action="" method="POST">#}
{#            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
{#            <input type="hidden" name="bid" value="{{ bid.id }}">#}
{#            <div>#}
{#              <input type="submit" id="pay-bid-btn" class="btn btn-block" value="Оплатить">#}
{#            </div>#}
{##}
{#          </form>#}
{#        </div>#}
      </div>
    </div>
  </div>

{% endblock %}

Номер заявки: {{ bid.id }}<br>
Сумма оплаты: {{ bid.amount }}$<br>
<a href="{{ pay_url }}" class="btn btn-primary">Оплатить</a>
