<!DOCTYPE html>
<html>
<head>
  <title>Продвижение Вашего Инстаграм - Profinsta.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content=""/>
{#  <script type="application/x-javascript"> addEventListener("load", function () {#}
{#    setTimeout(hideURLbar, 0);#}
{#  }, false);#}
{#  function hideURLbar() {#}
{#    window.scrollTo(0, 1);#}
{#  } </script>#}
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css'/>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
        rel='stylesheet' type='text/css'>
  <!---- start-smoth-scrolling---->

  <!--start-smoth-scrolling-->
</head>
<body>
<!--start-banner-->
<div class="banner" id="home">
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="/"><span class="i-text-style">Profinsta</span><span class="logo-postfix">.com</span></a>
{#        <a href="/"><span class="logo-text-style">Profinsta<span class="logo-postfix">.com</span></span></a>#}
      </div>
      <div class="navigation">
        <span class="menu"></span>
        <ul class="navig">
          <li><a href="#pricing" class="scroll">Заказать</a></li>
          <li><a href="#text-about" class="scroll">О сервисе</a></li>
          <li><a href="#advantages" class="scroll">Возможности</a></li>
          <li><a href="#pricing" class="scroll">Услуги</a></li>
          <li><a href="#rewiews" class="scroll">Отзывы</a></li>
          <li><a href="#faq" class="scroll">FAQ</a></li>
          <li><a href="#contact" class="scroll">Связаться</a></li>
        </ul>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="banner-btm">
      <div id="top" class="callbacks_container">
        <div class="banner-bottom">
          <h1>Покори "Instagram" вместе с Profinsta</h1>
          <p>Мечтаете стать популярным? Получить клиентов для бизнеса? Донести свою идею людям?
            Сервис Profinsta работает в режиме 24/7, Вы получаете результат.</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div><a href="{{ url_for("bid") }}" class="bid-btn top-bid-btn">Заказать</a></div>
    </div>
  </div>
</div>

<!--Slider-Starts-Here-->
{#<script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>#}
<script>

</script>
<!--End-slider-script-->
<!--end-banner-->
<!--start-about-->
<div class="about" id="text-about">
  <div class="client">
    <div class="about-main">
      <img src="{{ url_for('static', filename='img/abt-1.png') }}" alt=""/>
      <h3>Почему именно мы?</h3>
      <p>Проходя каждый раз этот кропотливый путь от 0 подписчиков и до десятков тысяч,
        мы понимаем, что стоит за занавесом популярных "instagram" аккаунтов.
        И стремимся усовершенствовать наши услуги ежедневно. Поэтому мы предлогаем
        только лучшее, что дает возможность избавиться от ежедневных рутинных
        задач и начать получать результаты продвижения вашей социальной страницы.
        Уже через несколько недель возможно убедиться в результатах.
        </p>
    </div>
  </div>
  <div class="container" id="advantages">
    <div class="about-bottom">
      <div class="about-main">
        <h3>Наши Возможности</h3>
      </div>
      <div class="abt">
        <div class="col-md-4 about-left">
          <div class="abt-one">
            <div class="abt-left">
              <span class="hnd"> </span>
            </div>
            <div class="abt-right">
              <h4>Лайки</h4>
              <p>Проставление лайков это привлечение внимания вашей целевой аудитории.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4 about-left">
          <div class="abt-one">
            <div class="abt-left">
              <span class="d"> </span>
            </div>
            <div class="abt-right">
              <h4>Комментарии</h4>
              <p>Возможность заявить о себе, как об активном аккаунте.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4 about-left">
          <div class="abt-one">
            <div class="abt-left">
              <span class="ar"> </span>
            </div>
            <div class="abt-right">
              <h4>Подписки</h4>
              <p>Подписываясь на пользователей Ваш аккаунт привлекает интерес своей активностью.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="abt">
        <div class="col-md-4 about-left">
          <div class="abt-one">
            <div class="abt-left">
              <span class="flg"> </span>
            </div>
            <div class="abt-right">
              <h4>Работа с целевой аудиторией</h4>
              <p>Для эффективности и привлечения только вашей целевой аудитории, мы фильтруем пользователей по разнообразным фильтрам.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4 about-left">
          <div class="abt-one">
            <div class="abt-left">
              <span class="flr"> </span>
            </div>
            <div class="abt-right">
              <h4>Поддержка</h4>
              <p>Наши менеджеры, смогут ответить на вопросы, дать совет и помоч в решении сложностей.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4 about-left">
          <div class="abt-one">
            <div class="abt-left">
              <span class="ard"> </span>
            </div>
            <div class="abt-right">
              <h4>Отписка</h4>
              <p>Сервис умеет не только подписываться на аккаунты, но и отписываться от невзаимных аккаунтов, что дает возможность работать только с активной аудиторией.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!--end-about-->
<!--start-special-->
<div class="special" id="features">
  <div class="container">
    <div class="special-top">
      <div class="col-md-3 spl-left">
        <div class="spl-one">
          <span class="sml"> </span>
          <h4>Клиенты довольные результатом</h4>
          <p>120+</p>
        </div>
      </div>
      <div class="col-md-3 spl-left">
        <div class="spl-one">
          <span class="wtp"></span>
          <h4>Профессиональные менеджеры</h4>
          <p>3</p>
        </div>
      </div>
      <div class="col-md-3 spl-left">
        <div class="spl-one">
          <span class="hnd"></span>
          <h4>Уникальные стратегии расскрутки</h4>
          <p>9</p>
        </div>
      </div>
      <div class="col-md-3 spl-left">
        <div class="spl-one">
          <span class="dar"> </span>
          <h4>Качественные и безопасные технологии</h4>
          <p>5+</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="do-bid"><a href="{{ url_for("bid") }}" class="bid-btn ">Оформить Заявку</a></div>

{#    <div class="special-bottom" id="products">#}
{#      <img src="{{ url_for('static', filename='img/spl.png') }}" alt=""/>#}
{#      <h3>Что вы получаете, когда используете наш сервис</h3>#}
{#      <p>Команда проффесионалов каждый день трудится в поте лица и обеспечивает лучший сервис для наших клиентов.</p>#}
{#    </div>#}
{#    <div class="special-btm">#}
{#      <div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="portfolio">#}
{#        <div class="portfolio-top">#}
{#          <div id="portfoliolist">#}
{#            <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">#}
{#              <div class="portfolio-wrapper">#}
{#                <a href="{{ url_for('static', filename='img/p-1.jpg') }}" class="b-link-stripe b-animate-go   swipebox" title="Image Title">#}
{#                  <img src="{{ url_for('static', filename='img/port-1.jpg') }}"/>#}
{#                  <div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03 ">Processing Steps Web</h2>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">#}
{#              <div class="portfolio-wrapper">#}
{#                <a href="{{ url_for('static', filename='img/p-2.jpg') }}" class="b-link-stripe b-animate-go   swipebox" title="Image Title">#}
{#                  <img src="{{ url_for('static', filename='img/port-2.jpg') }}"/>#}
{#                  <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="portfolio photo mix_all" data-cat="photo" style="display: inline-block; opacity: 1;">#}
{#              <div class="portfolio-wrapper">#}
{#                <a href="{{ url_for('static', filename='img/p-3.jpg') }}" class="b-link-stripe b-animate-go   swipebox" title="Image Title">#}
{#                  <img src="{{ url_for('static', filename='img/port-3.jpg') }}"/>#}
{#                  <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">#}
{#              <div class="portfolio-wrapper">#}
{#                <a href="{{ url_for('static', filename='img/p-4.jpg') }}" class="b-link-stripe b-animate-go   swipebox" title="Image Title">#}
{#                  <img src="{{ url_for('static', filename='img/port-4.jpg') }}"/>#}
{#                  <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="portfolio photo mix_all" data-cat="photo" style="display: inline-block; opacity: 1;">#}
{#              <div class="portfolio-wrapper">#}
{#                <a href="{{ url_for('static', filename='img/p-5.jpg') }}" class="b-link-stripe b-animate-go   swipebox" title="Image Title">#}
{#                  <img src="{{ url_for('static', filename='img/port-5.jpg') }}"/>#}
{#                  <div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03 ">Processing Steps Web </h2>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">#}
{#              <div class="portfolio-wrapper">#}
{#                <a href="{{ url_for('static', filename='img/p-6.jpg') }}" class="b-link-stripe b-animate-go  swipebox" title="Image Title">#}
{#                  <img src="{{ url_for('static', filename='img/port-6.jpg') }}"/>#}
{#                  <div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03 ">Processing Steps Web</h2>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{##}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
  </div>
</div>
<!--end-special-->
{#<link rel="stylesheet" href="{{ url_for('static', filename='css/swipebox.css') }}">#}
{#<script src="{{ url_for('static', filename='js/jquery.swipebox.min.js') }}"></script>#}
{#<script type="text/javascript">#}
{#  jQuery(function ($) {#}
{#    $(".swipebox").swipebox();#}
{#  });#}
{#</script>#}
<!-- Portfolio Ends Here -->
{#<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>#}
{#<script type="text/javascript">#}
{#  $(function () {#}
{##}
{#    var filterList = {#}
{##}
{#      init: function () {#}
{##}
{#        // MixItUp plugin#}
{#        // http://mixitup.io#}
{#        $('#portfoliolist').mixitup({#}
{#          targetSelector: '.portfolio',#}
{#          filterSelector: '.filter',#}
{#          effects: ['fade'],#}
{#          easing: 'snap',#}
{#          // call the hover effect#}
{#          onMixEnd: filterList.hoverEffect()#}
{#        });#}
{##}
{#      },#}
{##}
{#      hoverEffect: function () {#}
{##}
{#        // Simple parallax effect#}
{#        $('#portfoliolist .portfolio').hover(#}
{#          function () {#}
{#            $(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');#}
{#            $(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');#}
{#          },#}
{#          function () {#}
{#            $(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');#}
{#            $(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');#}
{#          }#}
{#        );#}
{##}
{#      }#}
{##}
{#    };#}
{##}
{#// Run the show!#}
{#    filterList.init();#}
{##}
{#  });#}
{#</script>#}

<!--start-pricing-->
<div class="pricing" id="">
  <div class="container">
    <div class="pricing-top">
      <img id="pricing" src="{{ url_for('static', filename='img/price-1.png') }}" alt=""/>
      <h3>Услуги</h3>
      <p>Мы тщательно подобрали для Вас лучшие возможности</p>
    </div>
    <div class="pricing-bottom">
      <div class="col-md-3 pricing-left">
        <div class="price-one">
          <h4>FREE</h4>
          <span></span>
          <h6><sup>$</sup>0<sub>/3 days</sub></h6>
          <p>1000 лайков/день</p>
          <p>1000 подписок/день</p>
          <p>1000 отписок в день</p>
          <p>300 комментариев/день</p>
          <p>Фильтр аудитории</p>
          <p>Поддержка</p>
          <p></p>
          <div class="p-btn">
            <a href="{{ url_for("bid", service_id=1) }}" class="service-bid-btn">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pricing-left">
        <div class="price-one">
          <h4>BASIC</h4>
          <span></span>
          <h6><sup>$</sup>19.95<sub>/month</sub></h6>
          <p>1000 лайков/день</p>
          <p>1000 подписок/день</p>
          <p>1000 отписок в день</p>
          <p>Фильтр аудитории</p>
          <p>Поддержка</p>
          <p></p>
          <p></p>
          <div class="p-btn">
            <a href="{{ url_for("bid", service_id=2) }}" class="service-bid-btn">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pricing-left active">
        <div class="price-one">
          <h4>PRO</h4>
          <span></span>
          <h6><sup>$</sup>24.95<sub>/month</sub></h6>
          <p>1000 лайков/день</p>
          <p>1000 подписок/день</p>
          <p>1000 отписок в день</p>
          <p>Анализ аккаунта</p>
          <p>Фильтр аудитории</p>
          <p>Поддержка</p>
          <p></p>
          <div class="p-btn">
            <a href="{{ url_for("bid", service_id=3) }}" class="service-bid-btn">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pricing-left">
        <div class="price-one">
          <h4>PRO+</h4>
          <span></span>
          <h6><sup>$</sup>29.95<sub>/month</sub></h6>
          <p>1000 лайков/день</p>
          <p>1000 подписок/день</p>
          <p>1000 отписок в день</p>
          <p>300 комментариев/день</p>
          <p>Анализ аккаунта</p>
          <p>Фильтр аудитории</p>
          <p>Поддержка</p>
          <div class="p-btn">
            <a href="{{ url_for("bid", service_id=4) }}" class="service-bid-btn">Заказать</a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-pricing-->
<!--start-testimonials-->
<div class="test" id="testimonials">
  <div class="container">
    <div class="test-top">
      <img src="{{ url_for('static', filename='img/test-1.png') }}" alt=""/>
      <h3 id="rewiews">Отзывы наших клиентов</h3>
      <p>Мы очень благодарны за столь щедрые отзывы.</p>
    </div>
    <div class="test-bottom">
      <div class="col-md-4 test-bottom-left">
        <div class="test-left">
          <p><span></span>
            Ребята, спасибо за Ваш супер-сервис!
            Не прошел еще месяц, как Вы продвигаете мой аккаунт в Интаграм,
            а у меня уже 1000 подписчиков и куча посетителей в кальянной.
            Очень четко попали в целевую аудиторию моего района.
            В моем аккаунте стало много комментариев, куча лайков!!!
            Раскрутка инстаграм мне очень понравилась!)
          </p>
          <div class="test-btm">
            <div class="test-1">
              <img src="{{ url_for('static', filename='img/t1.jpg') }}" alt=""/>
            </div>
            <div class="test-2">
              <h4>Женя</h4>
              <label>Кальянщик</label>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 test-bottom-left">
        <div class="test-left">
          <p><span></span>
            Здорово! У вас лучший сервис раскрутки инстаграм среди всех что я пробовал!
            Конечно хотелось бы чтобы сервис был бесплатный =),
            но бесплатный сыр сами знаете где=)
            Услуги Profinsta стоят недорого и помогают мне не только увеличить
            количество подписчиков, но и повысить продажи в инстаграм. И все это автоматически,
            мне не нужно тратить свое время на рутинные действия -
            сервис все выполняет вместо меня круглые сутки и семь дней в неделю!
            Лучшее соотношение цена-качество. Рекомендую!!!
          </p>
          <div class="test-btm">
            <div class="test-1">
              <img src="{{ url_for('static', filename='img/t3.jpg') }}" alt=""/>
            </div>
            <div class="test-2">
              <h4>Игорь</h4>
              <label>Vape shop</label>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 test-bottom-left">
        <div class="test-left">
          <p><span></span>
            Отличный сервис! Я не очень разбираюсь в продвижении,
            а тут все так легко и понятно! Количество заказчиков на мою работу,
            как минимум, удвоилось. Удобно, когда можешь довериться профессионалам.
            Спасибо огромное! Уже рекомендую сервис подругам и коллегам.
          </p>
          <div class="test-btm">
            <div class="test-1">
              <img src="{{ url_for('static', filename='img/t2.jpg') }}" alt=""/>
            </div>
            <div class="test-2">
              <h4>Юля</h4>
              <label>Модель</label>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-imonials-->
<!--start-account-->
<div class="account" id="order">
  <div class="container">
    <div class="account-main">
      <div class="col-md-8 account-left">
        <p>Нажмите на кнопку "Создать Заявку" прямо сейчас и получите бесплатную консультацию</p>
      </div>
      <div class="col-md-4 account-right" id="account-main-bid">
        <a class="bid-btn play-icon popup-with-zoom-anim" href="{{ url_for("bid") }}"><span>Создать Заявку </span></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-account-->
<div class="faq" id="faq">
  <div class="container">
    <div class="faq-top">
      <img src="{{ url_for('static', filename='img/price-1.png') }}" alt=""/>
      <h3>FAQ</h3>
    </div>
    <div class="faq-elem">
      <p class="question">Что такое Profinsta.com?	</p>
      <p class="faq-sub-elem hidden">
        Profinsta.com - это профессиональный сервис для продвижения вашего бизнеса
        или вашей личности в Instagram. Сервис совершает действия от
        имени вашего аккаунта с целевой аудиторией, которую мы подбираем на основании
        целей поставленных перед instagram страницей.</p>
    </div>

    <div class="faq-elem">
      <p class="question">Подойдет ли Profinsta.com для моего бизнеса? </p>
      <p class="faq-sub-elem hidden">
        Однозначно! Сервис Profinsta.com подходит для любых типов бизнесов,
        начиная от маленьких и локальных компаний и одиночных бизнесов
        (автомойка, магазин, салон красоты, ремонт одежды, тренажерный зал, услуги красоты),
        средних по охвату аудитории компаний (туристические агентства,
        спортивные комплексы, интернет-магазины, любые услуги), и крупных игроков
        (бренды, международные и национальные компании и организации).</p>
    </div>

    <div class="faq-elem">
      <p class="question">Зачем мне нужно продвижение в Instagram?</p>
      <p class="faq-sub-elem hidden">
        На данный момент в INSTAGRAM зарегистрировано более 680 миллионов аккаунтов,
        другими словами, там есть все, а конкуренция среди бизнесов ниже в 12 раз,
        чем в других социальных сетях и в 30 раз ниже, чем в поисковых системах!
        Не дремлите, воспользуйтесь услугами profinsta.com и оставьте конкурентов далеко позади! </p>
    </div>

    <div class="faq-elem">
      <p class="question">Насколько Profinsta.com безопасен для моего аккаунта?</p>
      <p class="faq-sub-elem hidden">
        Мы гарантируем 100% безопасность. Наши алгоритмы эмулируют действие человека
        для предотвращения подозрений со стороны instagram.
        Действия происходят строго в рамках правил не превышая установленные instagram лимиты.
        Также, каждому аккаунту выделяется чистый и защищенный proxy.</p>
    </div>
  </div>
</div>
<!--start-contact-->
<div class="contact" id="contact">
  <div class="container">
    <div class="contact-top">
      <img src="{{ url_for('static', filename='img/spl.png') }}" alt=""/>
      <h3>Связаться с нами</h3>
      <p>Если у вас возникли какие либо вопросы оставьте свое сообщение. Мы обязательно с вами свяжемся.</p>
    </div>
    <div class="contact-bottom">
      <form action="{{ url_for('send_support_message') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class="sup-input" name="name" placeholder="Your Name" maxlength="200" required>
        <input type="email" class="sup-input" name="email" placeholder="Your Email" maxlength="65" required>
        <textarea name="message" placeholder="Your Message" maxlength="1000" required></textarea>
        <div class="row row-centered">
          <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-left: 23px;">{{ recaptcha }}</div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="contact-but">
          <input type="submit" value="ОТПРАВИТЬ СООБЩЕНИЕ"/>
        </div>
      </form>

    </div>
  </div>
</div>
<!--end-contact-->

<div class="footer">
  <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function () {
        $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
      });
    });
{#    $(document).ready(function () {#}
{#      $().UItoTop({easingType: 'easeOutQuart'});#}
{#    });#}
    $('.faq-elem').on('click', function () {
      var p = $(this).find('.faq-sub-elem');
      if (p.hasClass('hidden')) {
        p.removeClass('hidden');
      } else {
        p.addClass('hidden');
      }
    });
    $("span.menu").click(function () {
      $(" ul.navig").slideToggle("slow", function () {});
    });
    // You can also use "$(window).load(function() {"
{#  $(function () {#}
{#    // Slideshow 4#}
{#    $("#slider4").responsiveSlides({#}
{#      auto: true,#}
{#      pager: true,#}
{#      nav: true,#}
{#      speed: 500,#}
{#      namespace: "callbacks",#}
{#      before: function () {#}
{#        $('.events').append("<li>before event fired.</li>");#}
{#      },#}
{#      after: function () {#}
{#        $('.events').append("<li>after event fired.</li>");#}
{#      }#}
{#    });#}
{##}
{#  });#}
  </script>
  <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!--end-footer-->
</body>
</html>