{% extends 'xdoor_base.html' %}
{% block title %}Управление заявками{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h3 class="text-center">Заявка № {{ bid.id }}</h3>
        <form action="{{ url_for("edit_bid") }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="bid" value="{{ bid.id }}">
          <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
            <div class="form-group">
              <label for="client">Имя клиента:</label>
              <input class="form-control" type="text" id="client" value="{{ bid.name }}" disabled>
            </div>
            <div class="form-group">
              <label for="email">Почта клиента:</label>
              <input class="form-control" type="text" id="email" value="{{ bid.email }}" disabled>
            </div>
            <div class="form-group">
              <label for="account">Аккаунт в инстаграм:</label>
              <input class="form-control" type="text" name="account" id="account" value="{{ bid.account }}">
            </div>
            <div class="form-group">
              <label for="amount">Сумма заявки:</label>
              <input class="form-control" type="text" name="amount" id="amount" value="{{ bid.amount or '' }}">
            </div>
            <div class="form-group">
              <label for="status" >Статус:</label>
              <select name="status" id="status" class="form-control">
                {% for status, alias in statuses.items() %}
                  <option value="{{ status }}" {% if bid.status == status %}selected{% endif %}>{{ alias }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="service" >Услуга:</label>
              <select name="service" id="service" class="form-control">
                {% for id, s in services.items() %}
                  <option value="{{ id }}" {% if bid.service_id == id %}selected{% endif %}>{{ s }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="created">Создана:</label>
              <input class="form-control" type="text" id="created" value="{{ bid.created }}" disabled>
            </div>
            <div class="form-group">
              <label for="updated">Изменена:</label>
              <input class="form-control" type="text" id="updated" value="{{ bid.updated }}" disabled>
            </div>
            <div class="form-group">
              <label for="comment">Комментарии:</label>
              <textarea class="form-control" name="comment" id="comment" rows="5">{{ bid.comment or ''}}</textarea>
            </div>
            <input type="submit" id="sign-in-btn" class="btn btn-block" value="Сохранить"><br>
            <input type="button" id="generate_url" class="btn btn-block" value="Сгенерировать URL для оплаты.">
            <div class="form-group">
              <input id="pay_url" class="form-control" type="text" value="">
            </div>

            <br><br><br>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
  {{ super() }}
  <script type="text/javascript">
  var csrf_token = '{{ csrf_token() }}';
  var bid_id = '{{ bid.id }}';
  var generatePayUrl = '{{ url_for('generate_pay_url') }}';
  $('#generate_url').on('click', function () {
    $.post(generatePayUrl, {bid_id: bid_id, csrf_token: csrf_token}).done(displayPayUrl).fail(showError);
    function displayPayUrl(response) {
      console.log(response);
      if (response.result == true){
        $('#pay_url').val(response.data.url);
      }
      else {showError(response)}
    }
  });

  function showError(response) {
    $().toastmessage('showErrorToast', response.message);
  }
  </script>
{% endblock %}