{% extends 'base.html' %}
{% block title %}Оформление заявки{% endblock %}

{% block content %}
<div class="bid-banner">
  <div class="container">
    <div class="row">
      <div class="absolute-center is-responsive">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <div class="bid-success-info">
            <h2 class="text-center">Заявка отправлена успешно.</h2><br>
            <h4 class="text-center">Номер заявки: {{ bid.id }}<br><br>
            В ближайшее время по почте указанной в заявке с Вами свяжется квалифицированный специалист для подтверждения заявки и уточнения деталей.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}